.container
    .card
        form.form-horizontal(ng-hide="identity.isAuthenticated()")
            fieldset
            .col-xs-12
                legend Login
            .form-group.row
                .col-xs-12
                    input.form-control(
                    placeholder="Username"
                    ng-model="username")
            .form-group.row
                .col-xs-12
                    input.form-control(
                    type="password"
                    placeholder="Password"
                    ng-model="password")
            button.btn.btn-primary.pull-right(ng-click="signin(username, password)")
                span.glyphicon.glyphicon-log-in(title="Login")  Login

